#! /usr/bin/env bash

original_dir="$(pwd)"

cd "$(dirname "${BASH_SOURCE[0]}")/../.." && project_root_dir=$PWD

# Path to local copy of devbox project has higher priority over repository. Comment out the next line to enable checkout from Git
devbox_project_local_path="${project_root_dir}"

devbox_project_repository_url="git@github.com:magento/magento2-devbox-for-developers.git"
devbox_project_branch="master"

delete_test_project_on_tear_down=0

cd ${original_dir}
